<div class="validar-acceso-container">
  <h2>Validar Acceso</h2>

  <form (ngSubmit)="onValidarAcceso(form)" #form="ngForm" novalidate>
  <div class="form-group">
      <label for="codigoTicket">Código de Ticket</label>
      <input
        type="text"
        id="codigoTicket"
        name="codigoTicket"
        [(ngModel)]="codigoTicket"
        required
        #codigoTicketInput="ngModel"
      />
      <div class="error" *ngIf="codigoTicketInput.invalid && codigoTicketInput.touched">
        Código de ticket es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="atraccionId">ID de Atracción</label>
      <input
        type="number"
        id="atraccionId"
        name="atraccionId"
        [(ngModel)]="atraccionId"
        required
        #atraccionIdInput="ngModel"
        min="1"
      />
      <div class="error" *ngIf="atraccionIdInput.invalid && atraccionIdInput.touched">
        ID de atracción válido es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="cuentaVisitanteId">ID Cuenta Visitante</label>
      <input
        type="text"
        id="cuentaVisitanteId"
        name="cuentaVisitanteId"
        [(ngModel)]="cuentaVisitanteId"
        required
        #cuentaVisitanteIdInput="ngModel"
      />
      <div class="error" *ngIf="cuentaVisitanteIdInput.invalid && cuentaVisitanteIdInput.touched">
        ID de cuenta visitante es obligatorio.
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid">Validar Acceso</button>
  </form>
  <button type="submit" class="btn btn-secondary" routerLink="/acceso">Regresar</button>

  <div *ngIf="resultado" [class.exito]="resultado.accesoPermitido" [class.error]="!resultado.accesoPermitido" class="mensaje-resultado">
    {{ resultado.mensaje }}
    <div *ngIf="resultado.accesoPermitido">
      <p><strong>Atracción:</strong> {{ resultado.nombreAtraccion }}</p>
      <p><strong>Visitante:</strong> {{ resultado.nombreVisitante }}</p>
    </div>
  </div>
</div>
