USE [ParqueDiversion]
GO
/****** Object:  Table [dbo].[Atracciones]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atracciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Tipo] [int] NOT NULL,
	[EdadMinima] [int] NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Atracciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionesEstrategia]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionesEstrategia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EstrategiaActiva] [nvarchar](50) NOT NULL,
	[FechaModificacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConfiguracionesEstrategia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionFechaHora]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionFechaHora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHoraConfigurada] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConfiguracionFechaHora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[VisitanteId] [uniqueidentifier] NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Roles] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cuentas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoAtracciones]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoAtracciones](
	[AtraccionesId] [int] NOT NULL,
	[EventoId] [int] NOT NULL,
 CONSTRAINT [PK_EventoAtracciones] PRIMARY KEY CLUSTERED 
(
	[AtraccionesId] ASC,
	[EventoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Inicio] [datetime2](7) NOT NULL,
	[Fin] [datetime2](7) NOT NULL,
	[AforoMaximo] [int] NOT NULL,
	[CostoAdicional] [real] NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidencias]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaReporte] [datetime2](7) NOT NULL,
	[FechaResolucionEstimada] [datetime2](7) NOT NULL,
	[Disponible] [bit] NOT NULL,
	[AtraccionId] [int] NOT NULL,
 CONSTRAINT [PK_Incidencias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PuntuacionesVisitantes]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuntuacionesVisitantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VisitanteId] [uniqueidentifier] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[PuntosDiarios] [int] NOT NULL,
	[PuntosTotales] [int] NOT NULL,
 CONSTRAINT [PK_PuntuacionesVisitantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosVisitas]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosVisitas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AtraccionId] [int] NOT NULL,
	[Identificador] [uniqueidentifier] NOT NULL,
	[FechaIngreso] [datetime2](7) NOT NULL,
	[FechaEgreso] [datetime2](7) NULL,
 CONSTRAINT [PK_RegistrosVisitas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[Id] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Sesiones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaVisita] [datetime2](7) NOT NULL,
	[EventoId] [int] NULL,
	[Codigo] [uniqueidentifier] NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[EsValido] [bit] NOT NULL,
	[TipoEntrada] [int] NOT NULL,
	[CuentaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitantes]    Script Date: 09/10/2025 8:25:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitantes](
	[Id] [uniqueidentifier] NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
	[NivelMembresia] [int] NOT NULL,
 CONSTRAINT [PK_Visitantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Atracciones] ON 

INSERT [dbo].[Atracciones] ([Id], [Nombre], [Tipo], [EdadMinima], [Capacidad], [Descripcion], [Estado]) VALUES (1, N'Dragon Volador', 0, 12, 24, N'Montaña rusa con loops y giros extremos', 0)
INSERT [dbo].[Atracciones] ([Id], [Nombre], [Tipo], [EdadMinima], [Capacidad], [Descripcion], [Estado]) VALUES (2, N'Simulador Espacial', 1, 8, 16, N'Experiencia inmersiva en el espacio', 0)
INSERT [dbo].[Atracciones] ([Id], [Nombre], [Tipo], [EdadMinima], [Capacidad], [Descripcion], [Estado]) VALUES (3, N'Teatro Mágico', 2, 0, 200, N'Espectáculo de magia y ilusionismo en vivo', 0)
SET IDENTITY_INSERT [dbo].[Atracciones] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfiguracionFechaHora] ON 

INSERT [dbo].[ConfiguracionFechaHora] ([Id], [FechaHoraConfigurada]) VALUES (1, CAST(N'2025-10-09T20:19:52.7320830' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ConfiguracionFechaHora] OFF
GO
INSERT [dbo].[Cuentas] ([Id], [Nombre], [Apellido], [Email], [VisitanteId], [Password], [Roles]) VALUES (N'8455c80d-f3ea-497c-a6db-07f7c959896d', N'Administrador', N'Sistema', N'admin@admin.com', NULL, N'Admin123!', N'1')
INSERT [dbo].[Cuentas] ([Id], [Nombre], [Apellido], [Email], [VisitanteId], [Password], [Roles]) VALUES (N'0bae20a7-5ccd-4327-a4e6-1fb42530a412', N'Juan', N'López', N'operador2@parque.com', NULL, N'Oper123!', N'2')
INSERT [dbo].[Cuentas] ([Id], [Nombre], [Apellido], [Email], [VisitanteId], [Password], [Roles]) VALUES (N'f6f6598e-3ef1-4da9-aca4-6dfa099bd95e', N'María', N'Operadora', N'operador1@parque.com', NULL, N'Oper123!', N'2')
GO
INSERT [dbo].[EventoAtracciones] ([AtraccionesId], [EventoId]) VALUES (1, 1)
INSERT [dbo].[EventoAtracciones] ([AtraccionesId], [EventoId]) VALUES (3, 1)
INSERT [dbo].[EventoAtracciones] ([AtraccionesId], [EventoId]) VALUES (1, 2)
GO
SET IDENTITY_INSERT [dbo].[Eventos] ON 

INSERT [dbo].[Eventos] ([Id], [Titulo], [Descripcion], [Inicio], [Fin], [AforoMaximo], [CostoAdicional], [Estado]) VALUES (1, N'Halloween Night', N'Noche de terror con personajes especiales', CAST(N'2025-10-19T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-19T06:00:00.0000000' AS DateTime2), 500, 15.5, 1)
INSERT [dbo].[Eventos] ([Id], [Titulo], [Descripcion], [Inicio], [Fin], [AforoMaximo], [CostoAdicional], [Estado]) VALUES (2, N'Festival de Verano', N'Celebración con música y espectáculos', CAST(N'2025-11-08T00:00:00.0000000' AS DateTime2), CAST(N'2025-11-08T08:00:00.0000000' AS DateTime2), 800, 20, 1)
INSERT [dbo].[Eventos] ([Id], [Titulo], [Descripcion], [Inicio], [Fin], [AforoMaximo], [CostoAdicional], [Estado]) VALUES (3, N'Navidad Mágica', N'Evento especial de navidad con decoración temática', CAST(N'2025-12-08T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-10T00:00:00.0000000' AS DateTime2), 1000, 25, 1)
SET IDENTITY_INSERT [dbo].[Eventos] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id], [FechaVisita], [EventoId], [Codigo], [FechaEmision], [EsValido], [TipoEntrada], [CuentaId]) VALUES (1, CAST(N'2025-10-14T00:00:00.0000000' AS DateTime2), 0, N'c323f324-8635-47dd-ba94-c8bb69e98e65', CAST(N'2025-10-09T20:19:52.7320830' AS DateTime2), 1, 0, N'fec00134-76b5-4cea-b020-bcd1dfddb12d')
INSERT [dbo].[Tickets] ([Id], [FechaVisita], [EventoId], [Codigo], [FechaEmision], [EsValido], [TipoEntrada], [CuentaId]) VALUES (2, CAST(N'2025-10-16T00:00:00.0000000' AS DateTime2), 0, N'725dc340-b9c3-4c1e-9f5e-eae7b0beab09', CAST(N'2025-10-09T20:19:52.7320830' AS DateTime2), 1, 0, N'a513e453-6c30-4b5d-b739-c352190932f8')
INSERT [dbo].[Tickets] ([Id], [FechaVisita], [EventoId], [Codigo], [FechaEmision], [EsValido], [TipoEntrada], [CuentaId]) VALUES (3, CAST(N'2025-10-19T00:00:00.0000000' AS DateTime2), 1, N'a6663bb9-89c3-4d0c-a014-33cd681e5c58', CAST(N'2025-10-09T20:19:52.7320830' AS DateTime2), 1, 1, N'fec00134-76b5-4cea-b020-bcd1dfddb12d')
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
INSERT [dbo].[Visitantes] ([Id], [FechaNacimiento], [NivelMembresia]) VALUES (N'41b9de54-0dfc-4415-85f0-3ab3d5cb0f23', CAST(N'2010-08-20T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Visitantes] ([Id], [FechaNacimiento], [NivelMembresia]) VALUES (N'1c0c69e8-62c6-4daf-b14a-cf73e802db28', CAST(N'1995-05-15T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Visitantes] ([Id], [FechaNacimiento], [NivelMembresia]) VALUES (N'15a597c5-d57d-4240-9593-d164ec27ac3a', CAST(N'2015-03-10T00:00:00.0000000' AS DateTime2), 1)
GO
ALTER TABLE [dbo].[Cuentas] ADD  DEFAULT (N'') FOR [Password]
GO
ALTER TABLE [dbo].[Cuentas] ADD  DEFAULT (N'') FOR [Roles]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (CONVERT([bit],(0))) FOR [EsValido]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ((0)) FOR [TipoEntrada]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CuentaId]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Visitantes_VisitanteId] FOREIGN KEY([VisitanteId])
REFERENCES [dbo].[Visitantes] ([Id])
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [FK_Cuentas_Visitantes_VisitanteId]
GO
ALTER TABLE [dbo].[EventoAtracciones]  WITH CHECK ADD  CONSTRAINT [FK_EventoAtracciones_Atracciones_AtraccionesId] FOREIGN KEY([AtraccionesId])
REFERENCES [dbo].[Atracciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventoAtracciones] CHECK CONSTRAINT [FK_EventoAtracciones_Atracciones_AtraccionesId]
GO
ALTER TABLE [dbo].[EventoAtracciones]  WITH CHECK ADD  CONSTRAINT [FK_EventoAtracciones_Eventos_EventoId] FOREIGN KEY([EventoId])
REFERENCES [dbo].[Eventos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventoAtracciones] CHECK CONSTRAINT [FK_EventoAtracciones_Eventos_EventoId]
GO
