USE [ParqueDiversion]
GO
/****** Object:  Table [dbo].[Atracciones]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atracciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Tipo] [int] NOT NULL,
	[EdadMinima] [int] NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Atracciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionesEstrategia]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionesEstrategia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EstrategiaActiva] [nvarchar](50) NOT NULL,
	[FechaModificacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConfiguracionesEstrategia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionFechaHora]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionFechaHora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHoraConfigurada] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConfiguracionFechaHora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[VisitanteId] [uniqueidentifier] NULL,
	[Roles] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cuentas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoAtracciones]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoAtracciones](
	[AtraccionesId] [int] NOT NULL,
	[EventoId] [int] NOT NULL,
 CONSTRAINT [PK_EventoAtracciones] PRIMARY KEY CLUSTERED 
(
	[AtraccionesId] ASC,
	[EventoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Inicio] [datetime2](7) NOT NULL,
	[Fin] [datetime2](7) NOT NULL,
	[AforoMaximo] [int] NOT NULL,
	[CostoAdicional] [real] NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialCanjes]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialCanjes](
	[Id] [uniqueidentifier] NOT NULL,
	[VisitanteId] [uniqueidentifier] NOT NULL,
	[RecompensaId] [uniqueidentifier] NOT NULL,
	[PuntosCanjeados] [int] NOT NULL,
	[FechaCanje] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HistorialCanjes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialPuntuaciones]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialPuntuaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[OrigenPuntos] [nvarchar](500) NULL,
	[EstrategiaActiva] [nvarchar](200) NULL,
	[Puntos] [int] NOT NULL,
	[VisitanteId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HistorialPuntuaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidencias]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaReporte] [datetime2](7) NOT NULL,
	[FechaResolucionEstimada] [datetime2](7) NOT NULL,
	[Disponible] [bit] NOT NULL,
	[AtraccionId] [int] NOT NULL,
 CONSTRAINT [PK_Incidencias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MantenimientosPreventivos]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MantenimientosPreventivos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AtraccionId] [int] NOT NULL,
	[FechaProgramada] [datetime2](7) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[DuracionEstimada] [time](7) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[IncidenciaId] [int] NOT NULL,
 CONSTRAINT [PK_MantenimientosPreventivos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PuntuacionesVisitantes]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuntuacionesVisitantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VisitanteId] [uniqueidentifier] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[PuntosDiarios] [int] NOT NULL,
	[PuntosTotales] [int] NOT NULL,
 CONSTRAINT [PK_PuntuacionesVisitantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recompensas]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recompensas](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[CostoEnPuntos] [int] NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[NivelMembresiaRequerido] [int] NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Recompensas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosVisitas]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosVisitas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AtraccionId] [int] NOT NULL,
	[Identificador] [uniqueidentifier] NOT NULL,
	[FechaIngreso] [datetime2](7) NOT NULL,
	[FechaEgreso] [datetime2](7) NULL,
 CONSTRAINT [PK_RegistrosVisitas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[Id] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Sesiones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuentaId] [uniqueidentifier] NOT NULL,
	[FechaVisita] [datetime2](7) NOT NULL,
	[EventoId] [int] NULL,
	[TipoEntrada] [int] NOT NULL,
	[Codigo] [uniqueidentifier] NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[EsValido] [bit] NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitantes]    Script Date: 20/11/2025 3:25:34 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitantes](
	[Id] [uniqueidentifier] NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
	[NivelMembresia] [int] NOT NULL,
 CONSTRAINT [PK_Visitantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Visitantes_VisitanteId] FOREIGN KEY([VisitanteId])
REFERENCES [dbo].[Visitantes] ([Id])
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [FK_Cuentas_Visitantes_VisitanteId]
GO
ALTER TABLE [dbo].[EventoAtracciones]  WITH CHECK ADD  CONSTRAINT [FK_EventoAtracciones_Atracciones_AtraccionesId] FOREIGN KEY([AtraccionesId])
REFERENCES [dbo].[Atracciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventoAtracciones] CHECK CONSTRAINT [FK_EventoAtracciones_Atracciones_AtraccionesId]
GO
ALTER TABLE [dbo].[EventoAtracciones]  WITH CHECK ADD  CONSTRAINT [FK_EventoAtracciones_Eventos_EventoId] FOREIGN KEY([EventoId])
REFERENCES [dbo].[Eventos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventoAtracciones] CHECK CONSTRAINT [FK_EventoAtracciones_Eventos_EventoId]
GO
ALTER TABLE [dbo].[HistorialPuntuaciones]  WITH CHECK ADD  CONSTRAINT [FK_HistorialPuntuaciones_Visitantes_VisitanteId] FOREIGN KEY([VisitanteId])
REFERENCES [dbo].[Visitantes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorialPuntuaciones] CHECK CONSTRAINT [FK_HistorialPuntuaciones_Visitantes_VisitanteId]
GO
ALTER TABLE [dbo].[MantenimientosPreventivos]  WITH CHECK ADD  CONSTRAINT [FK_MantenimientosPreventivos_Incidencias_IncidenciaId] FOREIGN KEY([IncidenciaId])
REFERENCES [dbo].[Incidencias] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MantenimientosPreventivos] CHECK CONSTRAINT [FK_MantenimientosPreventivos_Incidencias_IncidenciaId]
GO
