USE [ParqueDiversion]
GO
/****** Object:  Table [dbo].[Atracciones]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atracciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Tipo] [int] NOT NULL,
	[EdadMinima] [int] NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Atracciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionesEstrategia]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionesEstrategia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EstrategiaActiva] [nvarchar](50) NOT NULL,
	[FechaModificacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConfiguracionesEstrategia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionFechaHora]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionFechaHora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHoraConfigurada] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConfiguracionFechaHora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[VisitanteId] [uniqueidentifier] NULL,
	[Roles] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cuentas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoAtracciones]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoAtracciones](
	[AtraccionesId] [int] NOT NULL,
	[EventoId] [int] NOT NULL,
 CONSTRAINT [PK_EventoAtracciones] PRIMARY KEY CLUSTERED 
(
	[AtraccionesId] ASC,
	[EventoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Inicio] [datetime2](7) NOT NULL,
	[Fin] [datetime2](7) NOT NULL,
	[AforoMaximo] [int] NOT NULL,
	[CostoAdicional] [real] NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialCanjes]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialCanjes](
	[Id] [uniqueidentifier] NOT NULL,
	[VisitanteId] [uniqueidentifier] NOT NULL,
	[RecompensaId] [uniqueidentifier] NOT NULL,
	[PuntosCanjeados] [int] NOT NULL,
	[FechaCanje] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HistorialCanjes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialPuntuaciones]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialPuntuaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[OrigenPuntos] [nvarchar](500) NULL,
	[EstrategiaActiva] [nvarchar](200) NULL,
	[Puntos] [int] NOT NULL,
	[VisitanteId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HistorialPuntuaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidencias]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaReporte] [datetime2](7) NOT NULL,
	[FechaResolucionEstimada] [datetime2](7) NOT NULL,
	[Disponible] [bit] NOT NULL,
	[AtraccionId] [int] NOT NULL,
 CONSTRAINT [PK_Incidencias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MantenimientosPreventivos]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MantenimientosPreventivos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AtraccionId] [int] NOT NULL,
	[FechaProgramada] [datetime2](7) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[DuracionEstimada] [time](7) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[IncidenciaId] [int] NOT NULL,
 CONSTRAINT [PK_MantenimientosPreventivos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PuntuacionesVisitantes]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuntuacionesVisitantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VisitanteId] [uniqueidentifier] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[PuntosDiarios] [int] NOT NULL,
	[PuntosTotales] [int] NOT NULL,
 CONSTRAINT [PK_PuntuacionesVisitantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recompensas]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recompensas](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[CostoEnPuntos] [int] NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[NivelMembresiaRequerido] [int] NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Recompensas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosVisitas]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosVisitas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AtraccionId] [int] NOT NULL,
	[Identificador] [uniqueidentifier] NOT NULL,
	[FechaIngreso] [datetime2](7) NOT NULL,
	[FechaEgreso] [datetime2](7) NULL,
 CONSTRAINT [PK_RegistrosVisitas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[Id] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Sesiones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuentaId] [uniqueidentifier] NOT NULL,
	[FechaVisita] [datetime2](7) NOT NULL,
	[EventoId] [int] NULL,
	[TipoEntrada] [int] NOT NULL,
	[Codigo] [uniqueidentifier] NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[EsValido] [bit] NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitantes]    Script Date: 20/11/2025 4:08:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitantes](
	[Id] [uniqueidentifier] NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
	[NivelMembresia] [int] NOT NULL,
 CONSTRAINT [PK_Visitantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Atracciones] ON 

INSERT [dbo].[Atracciones] ([Id], [Nombre], [Tipo], [EdadMinima], [Capacidad], [Descripcion], [Estado]) VALUES (3, N'Dragón Infernal', 0, 12, 24, N'Montaña rusa de alta velocidad con 3 loops invertidos y caída de 50 metros.', 0)
INSERT [dbo].[Atracciones] ([Id], [Nombre], [Tipo], [EdadMinima], [Capacidad], [Descripcion], [Estado]) VALUES (4, N'Tornado Extremo', 0, 14, 20, N'Montaña rusa con giros de 360 grados y velocidades de hasta 120 km/h.', 1)
INSERT [dbo].[Atracciones] ([Id], [Nombre], [Tipo], [EdadMinima], [Capacidad], [Descripcion], [Estado]) VALUES (5, N'Aventura Familiar', 0, 5, 30, N'Montaña rusa suave ideal para toda la familia.', 0)
SET IDENTITY_INSERT [dbo].[Atracciones] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfiguracionesEstrategia] ON 

INSERT [dbo].[ConfiguracionesEstrategia] ([Id], [EstrategiaActiva], [FechaModificacion]) VALUES (1, N'porAtraccion', CAST(N'2025-11-20T16:22:09.8420171' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ConfiguracionesEstrategia] OFF
GO
INSERT [dbo].[Cuentas] ([Id], [Nombre], [Apellido], [Email], [Password], [VisitanteId], [Roles]) VALUES (N'3d551d75-036d-4885-a696-148e3805df81', N'Mario', N'Visitante', N'mario@visitante.com', N'Visitante123!', N'7597eb9e-5e54-443c-901e-aed9296cd4ee', N'3')
INSERT [dbo].[Cuentas] ([Id], [Nombre], [Apellido], [Email], [Password], [VisitanteId], [Roles]) VALUES (N'e8f6b230-9226-435e-a242-3fdc5434bc59', N'Administrador', N'Sistema', N'admin@admin.com', N'Admin123!', NULL, N'1')
INSERT [dbo].[Cuentas] ([Id], [Nombre], [Apellido], [Email], [Password], [VisitanteId], [Roles]) VALUES (N'01724b94-2672-426c-ac5f-4f05d8b84974', N'Operador', N'Secundario', N'operador2@operador.com', N'Operador123!', NULL, N'2')
GO
INSERT [dbo].[EventoAtracciones] ([AtraccionesId], [EventoId]) VALUES (6, 1002)
INSERT [dbo].[EventoAtracciones] ([AtraccionesId], [EventoId]) VALUES (8, 1002)
INSERT [dbo].[EventoAtracciones] ([AtraccionesId], [EventoId]) VALUES (10, 1002)
GO
SET IDENTITY_INSERT [dbo].[Eventos] ON 

INSERT [dbo].[Eventos] ([Id], [Titulo], [Descripcion], [Inicio], [Fin], [AforoMaximo], [CostoAdicional], [Estado]) VALUES (1002, N'Noche de Dinosaurios', N'Evento especial nocturno con proyecciones 3D y show temático de dinosaurios.', CAST(N'2025-12-22T20:00:00.0000000' AS DateTime2), CAST(N'2025-12-22T23:00:00.0000000' AS DateTime2), 300, 500, 2)
INSERT [dbo].[Eventos] ([Id], [Titulo], [Descripcion], [Inicio], [Fin], [AforoMaximo], [CostoAdicional], [Estado]) VALUES (1003, N'Halloween Terror Fest', N'Festival de Halloween con atracciones extremas y espectáculos de terror.', CAST(N'2025-10-31T19:00:00.0000000' AS DateTime2), CAST(N'2025-11-01T02:00:00.0000000' AS DateTime2), 500, 800, 2)
INSERT [dbo].[Eventos] ([Id], [Titulo], [Descripcion], [Inicio], [Fin], [AforoMaximo], [CostoAdicional], [Estado]) VALUES (1004, N'Día de la Familia', N'Evento especial con descuentos y actividades para toda la familia.', CAST(N'2025-12-23T10:00:00.0000000' AS DateTime2), CAST(N'2025-12-23T20:00:00.0000000' AS DateTime2), 1000, 0, 2)
SET IDENTITY_INSERT [dbo].[Eventos] OFF
GO
INSERT [dbo].[HistorialCanjes] ([Id], [VisitanteId], [RecompensaId], [PuntosCanjeados], [FechaCanje]) VALUES (N'f9115a36-d264-4869-90d4-e67a36657af4', N'7597eb9e-5e54-443c-901e-aed9296cd4ee', N'5d8c9ae4-8343-4d9e-bd3d-ca33ccb26744', 15, CAST(N'2025-11-20T15:58:47.2304383' AS DateTime2))
INSERT [dbo].[HistorialCanjes] ([Id], [VisitanteId], [RecompensaId], [PuntosCanjeados], [FechaCanje]) VALUES (N'b41d1c69-4356-4314-a382-ee83ad414dbf', N'4a606ca9-05a9-4cd5-b662-6bca7542cc0b', N'f8e673cb-222b-4247-a3a3-4ea15637609a', 10, CAST(N'2025-11-20T15:59:12.2626347' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[HistorialPuntuaciones] ON 

INSERT [dbo].[HistorialPuntuaciones] ([Id], [FechaHora], [OrigenPuntos], [EstrategiaActiva], [Puntos], [VisitanteId]) VALUES (1, CAST(N'2025-11-20T15:52:31.7312995' AS DateTime2), N'Atraccion: Dragón Infernal', N'porAtraccion', 15, N'7597eb9e-5e54-443c-901e-aed9296cd4ee')
INSERT [dbo].[HistorialPuntuaciones] ([Id], [FechaHora], [OrigenPuntos], [EstrategiaActiva], [Puntos], [VisitanteId]) VALUES (2, CAST(N'2025-11-20T15:52:51.4614507' AS DateTime2), N'Atraccion: Show de Dinosaurios', N'porAtraccion', 10, N'7597eb9e-5e54-443c-901e-aed9296cd4ee')
INSERT [dbo].[HistorialPuntuaciones] ([Id], [FechaHora], [OrigenPuntos], [EstrategiaActiva], [Puntos], [VisitanteId]) VALUES (3, CAST(N'2025-11-20T15:52:59.0576775' AS DateTime2), N'Atraccion: Simulador Espacial', N'porAtraccion', 12, N'4a606ca9-05a9-4cd5-b662-6bca7542cc0b')
SET IDENTITY_INSERT [dbo].[HistorialPuntuaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Incidencias] ON 

INSERT [dbo].[Incidencias] ([Id], [Descripcion], [FechaReporte], [FechaResolucionEstimada], [Disponible], [AtraccionId]) VALUES (1, N'Mantenimiento preventivo: Mantenimiento frenos', CAST(N'2025-12-20T09:00:00.0000000' AS DateTime2), CAST(N'2025-12-20T11:00:00.0000000' AS DateTime2), 0, 4)
INSERT [dbo].[Incidencias] ([Id], [Descripcion], [FechaReporte], [FechaResolucionEstimada], [Disponible], [AtraccionId]) VALUES (2, N'Mantenimiento preventivo: Cambio de pantalla', CAST(N'2025-11-23T10:00:00.0000000' AS DateTime2), CAST(N'2025-11-23T14:00:00.0000000' AS DateTime2), 0, 6)
INSERT [dbo].[Incidencias] ([Id], [Descripcion], [FechaReporte], [FechaResolucionEstimada], [Disponible], [AtraccionId]) VALUES (3, N'Mantenimiento preventivo: Cambio de frenos y ruedas', CAST(N'2025-12-29T08:00:00.0000000' AS DateTime2), CAST(N'2025-12-29T13:00:00.0000000' AS DateTime2), 0, 4)
SET IDENTITY_INSERT [dbo].[Incidencias] OFF
GO
SET IDENTITY_INSERT [dbo].[MantenimientosPreventivos] ON 

INSERT [dbo].[MantenimientosPreventivos] ([Id], [AtraccionId], [FechaProgramada], [HoraInicio], [DuracionEstimada], [Descripcion], [IncidenciaId]) VALUES (1, 4, CAST(N'2025-12-20T00:00:00.0000000' AS DateTime2), CAST(N'09:00:00' AS Time), CAST(N'02:00:00' AS Time), N'Mantenimiento frenos', 1)
INSERT [dbo].[MantenimientosPreventivos] ([Id], [AtraccionId], [FechaProgramada], [HoraInicio], [DuracionEstimada], [Descripcion], [IncidenciaId]) VALUES (3, 4, CAST(N'2025-12-29T00:00:00.0000000' AS DateTime2), CAST(N'08:00:00' AS Time), CAST(N'05:00:00' AS Time), N'Cambio de frenos y ruedas', 3)
SET IDENTITY_INSERT [dbo].[MantenimientosPreventivos] OFF
GO
SET IDENTITY_INSERT [dbo].[PuntuacionesVisitantes] ON 

INSERT [dbo].[PuntuacionesVisitantes] ([Id], [VisitanteId], [Fecha], [PuntosDiarios], [PuntosTotales]) VALUES (1, N'7597eb9e-5e54-443c-901e-aed9296cd4ee', CAST(N'2025-11-20T00:00:00.0000000' AS DateTime2), 33, 18)
INSERT [dbo].[PuntuacionesVisitantes] ([Id], [VisitanteId], [Fecha], [PuntosDiarios], [PuntosTotales]) VALUES (2, N'4a606ca9-05a9-4cd5-b662-6bca7542cc0b', CAST(N'2025-11-20T00:00:00.0000000' AS DateTime2), 20, 10)
SET IDENTITY_INSERT [dbo].[PuntuacionesVisitantes] OFF
GO
INSERT [dbo].[Recompensas] ([Id], [Nombre], [Descripcion], [CostoEnPuntos], [CantidadDisponible], [NivelMembresiaRequerido], [FechaCreacion]) VALUES (N'50075f21-c9bb-4b00-915d-3addc7c032e3', N'Combo Familiar', N'Entradas para 4 personas + snacks', 1500, 20, 2, CAST(N'2025-11-20T15:55:16.8898174' AS DateTime2))
INSERT [dbo].[Recompensas] ([Id], [Nombre], [Descripcion], [CostoEnPuntos], [CantidadDisponible], [NivelMembresiaRequerido], [FechaCreacion]) VALUES (N'f8e673cb-222b-4247-a3a3-4ea15637609a', N'Sacapuntas Oficial', N'Sacapuntas con logo del parque', 10, 19, NULL, CAST(N'2025-11-20T15:58:19.9809648' AS DateTime2))
INSERT [dbo].[Recompensas] ([Id], [Nombre], [Descripcion], [CostoEnPuntos], [CantidadDisponible], [NivelMembresiaRequerido], [FechaCreacion]) VALUES (N'b28f175f-a0de-4f5c-a6a2-5c01d1385a8e', N'Camiseta del Parque', N'Camiseta oficial con diseño exclusivo', 300, 100, NULL, CAST(N'2025-11-20T15:55:35.7448120' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[RegistrosVisitas] ON 

INSERT [dbo].[RegistrosVisitas] ([Id], [AtraccionId], [Identificador], [FechaIngreso], [FechaEgreso]) VALUES (2, 3, N'a390e960-8cfe-4fc0-9459-7d601da882a1', CAST(N'2025-11-20T15:51:24.2392029' AS DateTime2), CAST(N'2025-11-20T15:52:31.6646311' AS DateTime2))
INSERT [dbo].[RegistrosVisitas] ([Id], [AtraccionId], [Identificador], [FechaIngreso], [FechaEgreso]) VALUES (3, 6, N'90eee66b-8ad2-479a-aee6-af08d71ddff9', CAST(N'2025-11-20T15:52:16.2160915' AS DateTime2), CAST(N'2025-11-20T15:52:59.0345861' AS DateTime2))
INSERT [dbo].[RegistrosVisitas] ([Id], [AtraccionId], [Identificador], [FechaIngreso], [FechaEgreso]) VALUES (4, 8, N'a390e960-8cfe-4fc0-9459-7d601da882a1', CAST(N'2025-11-20T15:52:40.7783233' AS DateTime2), CAST(N'2025-11-20T15:52:51.4296049' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RegistrosVisitas] OFF
GO
INSERT [dbo].[Sesiones] ([Id], [UsuarioId], [Token]) VALUES (N'36b6453b-85d0-4b5f-31ce-08de2860f1c0', N'e8f6b230-9226-435e-a242-3fdc5434bc59', N'e366a067-4666-4c64-a72b-ce23ecaaac3b')
INSERT [dbo].[Sesiones] ([Id], [UsuarioId], [Token]) VALUES (N'3a8709fe-881d-4910-31cf-08de2860f1c0', N'3d551d75-036d-4885-a696-148e3805df81', N'38c9c84c-bf8e-4ea6-8eae-5a8e38f331e4')
INSERT [dbo].[Sesiones] ([Id], [UsuarioId], [Token]) VALUES (N'18d433e5-7b15-4a35-31d0-08de2860f1c0', N'ec5cbacd-cee2-4225-b676-c1c47d263b38', N'ea4dc6e6-9821-4cde-9634-7d208d573c0d')
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id], [CuentaId], [FechaVisita], [EventoId], [TipoEntrada], [Codigo], [FechaEmision], [EsValido]) VALUES (2004, N'3d551d75-036d-4885-a696-148e3805df81', CAST(N'2025-11-21T18:00:00.0000000' AS DateTime2), NULL, 0, N'542aed2c-ffe4-4373-8157-16c17f5c1a4e', CAST(N'2025-11-20T15:46:50.7795652' AS DateTime2), 1)
INSERT [dbo].[Tickets] ([Id], [CuentaId], [FechaVisita], [EventoId], [TipoEntrada], [Codigo], [FechaEmision], [EsValido]) VALUES (2005, N'3d551d75-036d-4885-a696-148e3805df81', CAST(N'2025-12-22T18:00:00.0000000' AS DateTime2), NULL, 0, N'be718570-5366-4a5a-9dff-fd526d14c896', CAST(N'2025-11-20T15:46:59.6323838' AS DateTime2), 1)
INSERT [dbo].[Tickets] ([Id], [CuentaId], [FechaVisita], [EventoId], [TipoEntrada], [Codigo], [FechaEmision], [EsValido]) VALUES (2006, N'3d551d75-036d-4885-a696-148e3805df81', CAST(N'2025-12-23T18:00:00.0000000' AS DateTime2), 1004, 1, N'1ef3a442-d9c0-4a25-9cec-a76cde2783d3', CAST(N'2025-11-20T15:47:12.3651168' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
INSERT [dbo].[Visitantes] ([Id], [FechaNacimiento], [NivelMembresia]) VALUES (N'05d72439-a3a9-432c-8148-0923ef18811a', CAST(N'2002-05-20T00:00:00.0000000' AS DateTime2), 3)
INSERT [dbo].[Visitantes] ([Id], [FechaNacimiento], [NivelMembresia]) VALUES (N'4a606ca9-05a9-4cd5-b662-6bca7542cc0b', CAST(N'2004-12-12T00:00:00.0000000' AS DateTime2), 2)
INSERT [dbo].[Visitantes] ([Id], [FechaNacimiento], [NivelMembresia]) VALUES (N'6142b7aa-f43d-418c-847b-8b4b973183dd', CAST(N'2000-06-19T00:00:00.0000000' AS DateTime2), 1)
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Visitantes_VisitanteId] FOREIGN KEY([VisitanteId])
REFERENCES [dbo].[Visitantes] ([Id])
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [FK_Cuentas_Visitantes_VisitanteId]
GO
ALTER TABLE [dbo].[EventoAtracciones]  WITH CHECK ADD  CONSTRAINT [FK_EventoAtracciones_Atracciones_AtraccionesId] FOREIGN KEY([AtraccionesId])
REFERENCES [dbo].[Atracciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventoAtracciones] CHECK CONSTRAINT [FK_EventoAtracciones_Atracciones_AtraccionesId]
GO
ALTER TABLE [dbo].[EventoAtracciones]  WITH CHECK ADD  CONSTRAINT [FK_EventoAtracciones_Eventos_EventoId] FOREIGN KEY([EventoId])
REFERENCES [dbo].[Eventos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventoAtracciones] CHECK CONSTRAINT [FK_EventoAtracciones_Eventos_EventoId]
GO
ALTER TABLE [dbo].[HistorialPuntuaciones]  WITH CHECK ADD  CONSTRAINT [FK_HistorialPuntuaciones_Visitantes_VisitanteId] FOREIGN KEY([VisitanteId])
REFERENCES [dbo].[Visitantes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorialPuntuaciones] CHECK CONSTRAINT [FK_HistorialPuntuaciones_Visitantes_VisitanteId]
GO
ALTER TABLE [dbo].[MantenimientosPreventivos]  WITH CHECK ADD  CONSTRAINT [FK_MantenimientosPreventivos_Incidencias_IncidenciaId] FOREIGN KEY([IncidenciaId])
REFERENCES [dbo].[Incidencias] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MantenimientosPreventivos] CHECK CONSTRAINT [FK_MantenimientosPreventivos_Incidencias_IncidenciaId]
GO
