<nav class="navbar">
  <div class="navbar-container">


    <ul class="navbar-menu">
      <li>
        <a routerLink="/home" routerLinkActive="active" class="nav-link">
          Incio
        </a>
      </li>
      <li>
        <a routerLink="/atracciones" routerLinkActive="active" class="nav-link">
          Atracciones
        </a>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" (click)="toggleDropdown($event)">
          Mantenimiento
        </a>
        <ul class="dropdown-menu" [class.show]="isDropdownOpen">
          <li><a routerLink="/mantenimientos" routerLinkActive="active" (click)="isDropdownOpen = false">Mantenimientos Preventivos</a></li>
          <li><a routerLink="/incidencias" routerLinkActive="active" (click)="isDropdownOpen = false">Incidencias</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/recompensas" routerLinkActive="active" class="nav-link">
          Recompensas
        </a>
      </li>
      @if (isLoggedIn) {
        <li>
          <span class="usuario-nombre">{{ usuario?.nombre }}</span>
        </li>
        <li>
          <button (click)="logout()" class="btn-logout">
            Cerrar sesión
          </button>
        </li>
      } @else {
        <li>
          <a routerLink="/login" routerLinkActive="active" class="nav-link">
            Iniciar sesión
          </a>
        </li>
      }
    </ul>
  </div>
</nav>
