<div *ngIf="aforo">
    <p><strong>Aforo actual:</strong> {{ aforo.visitantesActuales }}</p>
    <p><strong>Capacidad máxima:</strong> {{ aforo.capacidadTotal }}</p>
    <p><strong>Disponible:</strong> {{ aforo.capacidadRestante }}</p>
    <p *ngIf="aforo.capacidadRestante <= 0" class="alerta">
        ¡Aforo completo! No se permite más ingreso.
    </p>
</div>

<div class="botones-control">
    <button type="button"
            [disabled]="aforo ? aforo.capacidadRestante === 0 : true"
            [routerLink]="['/acceso-ingreso']"
            [queryParams]="{ atraccionId: atraccionId }">Registrar Ingreso</button>
    <button type="button"
            [disabled]="aforo ? aforo.visitantesActuales === 0 : true"
            [routerLink]="['/acceso-egreso']"
            [queryParams]="{ atraccionId: atraccionId }">Registrar Egreso</button>
    <button type="submit" routerLink="/atracciones">Volver</button>
</div>

  <div *ngIf="!atraccion">
    <p>Cargando atracción...</p>
  </div>

