<div class="evento-list-container">
  <h2>Lista de eventos</h2>
  <ul class="evento-list">
    <li *ngFor="let evento of eventos(); let i = index" class="evento-item">
      <div>
        Nombre: {{ evento.titulo }}<br>
        Descripcion: {{ evento.descripcion }}<br>
        Desde: {{ evento.inicio | date:'short' }}<br>
        Hasta: {{ evento.fin | date:'short' }}<br>
        Aforo máximo: {{ evento.aforoMaximo }}<br>
        Costo adicional: ${{ evento.costoAdicional }}<br>
        Estado: {{ EstadoEvento [evento.estado] }}
      </div>
      <button (click)="eliminarEvento(evento)" class="btn-eliminar">Eliminar</button>
      <button (click)="verAtracciones(evento)" class="btn-agregar">Ver Atracciones</button>
    </li>
  </ul>

  <button (click)="agregarEvento()" class="btn-agregar">Agregar evento</button>
</div>
